# This is the enviroment file for your website
# it's one of the most important files.  It holds
# your database credentials and default options the
# site requires to startup for each time it runs.


# database credentials

# sometimes 'localhost', 127.0.0.1 usually works better
DB_HOST=127.0.0.1

# default is 3306, don't change unless you use a non-standard port
DB_PORT=3306

# the database, username and password
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASS=your_database_password

# set your site url include trailing slash
SITE_URL=https://your-domain.com/

# set your Site's name. This is in the title until you 
# change settings in the database.
SITE_NAME=Pubvana v3

# set your Site's admin email. This is in the title until you 
# change settings in the database.
ADMIN_EMAIL=you@example.com

# Session encryption key -*- Required -*- Site WILL fail to run
# 1: Generate: php -r 'echo bin2hex(random_bytes(32));' or online at
# 2: https://numbergenerator.org/random-32-digit-hex-codes-generator
# Note: changing or rotating this key after setting it resets all 
# sessions and 'remember me' choices and everyone is forced to login again.
SESSION_ENCRYPTION_KEY=

# Force HTTPS
# Options: true | false
# While you can run with this false, we highly recommend
# enforcing https when running natively. Most browsers 
# all but require https these days. 
# 
# Legitimate reasons to use FORCE_HTTPS=false (http):
# 1:  dev environments
# 2: docker containers behind a TLS-terminating proxy
FORCE_HTTPS=true

# ====================================================
#                      Danger                        =
# ====================================================
# The settings below allow for development and 
# additional dev reporting which are extremely
# insecure for a live website. When installed
# from an official release the packages for developement
# reporting are not installed, so changing anything below
# **WILL** break the website unless the dev packages are
# installed.  See composer.json under "require-dev".

# Uncomment APP_ENV to enable development mode
# Application environment: 
# 'production' for a live site, 
# 'development' for dev work
#APP_ENV=development