parameters:
    level: 3
    paths:
        - app/
    scanDirectories:
        - vendor/
    scanFiles:
        - phpstan/bootstrap.php
    ignoreErrors:
        -
            message: '#Call to an undefined method#'
        -
            message: '#Access to an undefined property#'
