parameters:
    level: 5
    paths:
        - app/
    scanDirectories:
        - vendor/
    scanFiles:
        - phpstan/bootstrap.php
    ignoreErrors:
        - '#Call to an undefined method.*::(order|select|limit|eq|find|findAll|insert|update|delete|save|getDatabaseConnection|isHydrated|addCondition)#'
        - '#Access to an undefined property flight\\(ActiveRecord|util\\Collection)#'
        - '#should return array<Pubvana\\\\Models\\\\#'
        - '#flight\\Engine::[a-z]+#'
